<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
  id="in.co.geekninja.Draw"
  version="0.7.0">

  <name>Draw</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/Draw.js" target="js/Draw.js"/>

  <js-module src="www/Draw.js" name="Draw">
    <clobbers target="Draw" />
  </js-module>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Draw">
        <param name="android-package" value="in.co.geekninja.plugin.Draw"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:name="in.co.geekninja.plugin.SketchActivity" android:label="@string/app_name">
    </activity>
  </config-file>
  <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  </config-file>
    <source-file src="src/android/Draw.java" target-dir="src/in/co/geekninja/plugin/"/>
    <source-file src="src/android/FingerDrawView.java" target-dir="src/in/co/geekninja/plugin/"/>
    <source-file src="src/android/SketchActivity.java" target-dir="src/in/co/geekninja/plugin/"/>
    <source-file src="src/android/res/layout/tool_box.xml" target-dir="res/layout/" />
    <source-file src="src/android/res/layout/activity_draw.xml" target-dir="res/layout/" />
    <resource-file src="src/android/res/drawable/checked.png" target="res/drawable/checked.png" />
    <resource-file src="src/android/res/drawable/cross_e.png" target="res/drawable/cross_e.png" />
    <framework src="src/android/draw.gradle" custom="true" type="gradleReference" />
    <resource-file src="libs/colorpicker-release.aar" target="libs/colorpicker-release.aar" />
    <hook type="after_plugin_install" src="hooks/after_plugin_install/hook-add-r-import.js" />
  </platform>
</plugin>
